{% extends 'base.html.twig' %}

{% block title %}collection{% endblock %}

{% block body %}

<div class="example-wrapper">
    {{form_start(form,{'attr': { }})}}
    {{ form_widget(form.type, { 'attr': {'class': 'radio', 'id':''}, 'label_attr': {'class': 'CUSTOM_LABEL_CLASS'} }) }}
    {# {{form_row(form.category)}} #}
    {# <a href="{{path('app_ajout')}}">ajouter un ecatégorie</a> #}
    {{form_widget(form.title , { 'attr': {'class': 'title','placeholder':'Titre'},'label_attr': {'class': 'CUSTOM_LABEL_CLASS'}})}}
    <input type="textarea" id="text_auto_type_form_text" name="text_auto_type_form[text]" value="" class="text" />
    <button class="btn">ok</button>
    {{form_end(form)}}
</div>
<div id="recherche"></div>
{% endblock %}
